<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center" *ngIf="isPayment">
    <div style="height: 45vh;"></div>
      <ion-button (click)="payWithRazorpay()">Click to pay Rs. 500</ion-button>
  </div>
  <div *ngIf="!isPayment" class="ion-text-center">
    <h1>Thank you!</h1>
    <h2>Your payment is success. Please click on below button to go to dashboard</h2>
    <ion-button routerLink="/dashboard" routerDirection="root"></ion-button>
  </div>
</ion-content>
